.logo {
    width: 100px;
    height: 100px;

}

.imagen {

    display: block;
    margin: auto;
    padding-left: 4%;
}

.header {
    background-color: rgb(25, 50, 138);
}

#btnPersonaje {
    margin-top: 0.5cm;
    width: 12cm;
    height: 1cm;
}

#name {
    width: 12cm;
    height: 1cm;
    text-align: center;
}

#btnReset {
    width: 12cm;
    height: 1cm;
    margin-top: 0.5cm;
}

.caja {
    width: 400px;
    height: 500px;
    border-radius: 10%;
    background-color: rgb(81, 111, 214);
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 5%;
}

.titulo {

    color: rgb(255, 255, 255);
    text-shadow: 5mm;
    text-align: center;
    font-size: 30px;

}

.imagen {

    max-width: 200px;
    max-height: 200px;
}

#contenido {
    height: 800px;
    background-color: rgb(225, 220, 122);
}

.lore {
    margin-top: 40px;
    color: honeydew;
}

.atYDef {
    margin-top: 0.5cm;
    margin-left: 70px;
    text-align: left;
    color: rgb(255, 255, 255);
}
.dif{
    margin-right: 70px;
    margin-top: -2.3cm;
    text-align: right;
    color: rgb(255, 255, 255);
}
.mag{
    margin-right: 70px;
    
    text-align: right;
    color: rgb(255, 255, 255);
}