.logo {
    width: 100px;
    height: 100px;

}
.imagen{
    align-content: center;
}
.header {
    
    background-color: rgb(25, 50, 138);
}

.caja {
    width: 400px;
    height: 500px;
    border-radius: 10%;
    background-color: rgb(81, 111, 214);
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 5%;
}

.titulo {

    color: rgb(255, 255, 255);
    text-shadow: 5mm;
    text-align: center;
    font-size: 30px;

}

.imagen {

    max-width: 200px;
    max-height: 200px;
}

#contenido {
    height: 800px;
    background-color: rgb(225, 220, 122);
}

.lore {
    margin-top: 40px;
    color: honeydew;
}

.ataque {
    margin-left: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
}